/*
    <html> e <body>
*/

/* Normalmente altezza <html> = 100%... */
html { height: 100%; }
/* ...Tranne quando "ci sono delle slide", allora aumentiamo l'altezza */
html#slide { height: 800%; }

body {
    margin: 0px; /* Niente margini */
    height: 100%; /* Altezza standard */
    overflow-x: hidden; /* Evitare l'overflow orizzontale, indesiderato */
    /* Selezione del font: moderno e ben supportato */
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/*
    Contatore degli accessi
*/

.contatoreaccessi {
    position: fixed; /* Posiziona relativamente alla viewport... */
    top: 0; /* ...In alto */
    right: 0; /* ...A destra */
}

/*
    Headings
*/

h3 { font-size: 1.5em; }
h2 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 2em;
}
h1 {
    margin-top: 0px;
    font-size: 2.8em;
}

/* RWD */
@media only screen and (max-width: 1366px) {
    .img > div > * { font-size: 0.8em; }
}

@media only screen and (max-width: 1366px) {
    h1 { font-size: 1.5em !important; }
    h2 { font-size: 1.2em !important; }
    h3 { font-size: 1em !important; }
}

/*
    Side-menu
*/

/* Colora tutto di bianco */
#side-menu > * { color: white; }

#side-menu {
    width: 0%; /* Lunghezza fissa per la barra sulla SX */
    height: 100%; /* Altezza 100% */
    position: fixed; /* Fisso sul viewport */
    overflow: hidden; /* Permetti l'overflow, necessario per le tooltip e da alternare durante la transizione */

    background-color: rgb(56, 0, 0); /* Sfondo vermiglio */
    transition: width 0.7s; /* Transizione sull'allargamento */
    font-size: 1em; /* Dimensione del font */
}

ul { list-style-type: none; /* Togli i punti agli <ul> */ }

#side-menu > ul {
    padding: 0%; /* Togli il padding dal primo elenco del menu */
    margin: 0%; /* Togli il margine del primo elenco del menu */
}

#side-menu-title {
    /* Stila il testo del titoletto del side-menu */
    text-align: center;
    padding: 10% 0% 10% 0%;
    text-transform: capitalize;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
}

li.menu-el { text-transform: uppercase; }

#circle {
    /* Dimensioni */
    height: 100px;
    width: 100px;
    border-radius: 50%; /* Rendi un cerchio */
    position: fixed;
    top: 40%;
    left: -50px;
    background-color: #FF5747; /* Colore di sfondo */
    transition: left 1s; /* Transizione sul movimento out-in */
    z-index: 1; /* Mantieni in primo piano */
}

#right-circle {
    /* Larghezza 50%, altezza 100% */
    height: 100%;
    width: 50%;
    float: right; /* Metti nel semicerchio di destra */
}

#right-circle > i:hover { color: white; } /* Hover */
.open-menu {
    font-size: 30px;    /* Dimensione grande */
    cursor: pointer;    /* Cambia il cursore */
    line-height: 100px; /* Centra il testo */
    padding-left: 10px; /* Sposta la freccia un po' da SX */
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Stila bianchi i link, togli l'underline e posiziona un po' più a destra */
li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}
/* Link attivi e hover */
.active { color: #FF5747; }
li > a:hover { color: #FF5747; }

/* Stila ciò che chiude il menu */
#collapse-menu {
    padding: 10px;
    cursor: pointer;
}
#collapse-menu:hover { color: #FF5747; } /* Hover */

/* RWD */
@media only screen and (max-width: 1366px) {
    #side-menu { font-size: 0.7em; }
}

/*
    Area principale e HOME (index.html)
*/

#fullpage {
    width: 100%; /* 100% larghezza pagina */
    /* Flexbox verticale per le slide */
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Altezza ALMENO 100% della pagina */
    /* Proprietà per le transizioni */
    transform: translateX(0%);
    transition: transform 0.7s;
}

.img {
    flex: 1; /* Ripartire lo spazio in parti uguali */
    background-size: cover; /* Il background "copre" tutto */
    background-repeat: no-repeat; /* Evitare repeat */
    background-position: center center; /* Centrato */
    flex-basis: 0; /* Valore base d'allargamento 0:ignora */
}

/* Sfondi */
.img1 { background-image: url("../images/bg-intro.jpg"); }
.img2 { background-image: url("../images/bg-norimberga.jpg"); }
.img3 { background-image: url("../images/bg-monaco.jpg"); }
.img4 { background-image: url("../images/bg-swarovski.jpg"); }
.img5 { background-image: url("../images/bg-bmw.jpg"); }
.img6 { background-image: url("../images/bg-process.jpg"); }
.img7 { background-image: url("../images/bg-allianz.jpg"); }
.img8 { background-image: url("../images/bg-contact.jpg"); }

/* Contenitori del contenuto delle "slide" */
.img > div {
    background-color: rgba(56, 0, 0, 0.85); /* Sfondo semitrasparente */
    /* Larghezza 50%, con il padding */
    padding-left: 5%;
    padding-right: 5%;
    width: 40%;
    height: 100%; /* Altezza 100% */
    transition: width 2s; /* Transizione sull'allargamento, usata in fondo */
    position: relative; /* Posizione relativa, usato per i figli "absolute" */
}

.img > div > * {
    color: white; /* Colora di bianco */
    transition: opacity 1s; /* Transizione sull'opacità */
    opacity: 1; /* Default: opacità massima */
}

/*
    index.html -> bottoni circolari
*/

.btn-round {
    display: inline-block;
    /* Dimensione */
    height: 100px;
    width: 100px;
    /* Forma circolare */
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0); /* Trasparente */
    border: 1px solid white; /* Bordo bianco */
    font-size: 3em; /* Ingrandisci: il contenuto è un'icona*/
    color: white; /* Bianco */
}

/*RWD*/
@media only screen and (max-width: 1366px) {
    .btn-round {
        height: 64px;
        width: 64px;
        font-size: 2em;
    }
}

/* Ingrandisci il primo <td>, che è un titoletto e centralo */
.buttons-intro td:nth-child(1){
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
}

/* Descrizione del bottone, centrala verticalmente */
.buttons-intro td:nth-child(2){ vertical-align: middle; }

/*
    index.html -> "hint" animata
*/

/* Animazione: down-swinging */
@keyframes hint {
    0% {transform: translateY(0);}
    80% {transform: translateY(10%);}
    100% {transform: translateY(0);}
}
#hint {
    /* Posiziona in fondo */
    position: absolute;
    bottom: 0;
    right: 30%; /* Centrato */
    /* Stile del testo */
    font-size: 2em;
    text-align: center;
    font-style: italic;
    animation: hint 1s infinite; /* Assegna l'animazione (loop) */
}

/*
    index.html -> accompagnatori
*/

td { padding-bottom: 5px; } /* Aggiungi un padding in basso a tutte le <td> */

#accompagnatori {
    width: 100%; /* Espanditi */
    position: absolute; /* Togli dalla struttura della pagina */
}

#accompagnatori td { width: 33.33%; } /* Occupa 1/3 */

#accompagnatori div {
    /* Aligning */
    display: inline-block;
    vertical-align: top;
}

/* Ingrandire le icone */
#accompagnatori .btn-round { font-size: 4em; }
/* Stilare le didascalie a fianco */
#accompagnatori span:nth-child(1) { font-size: 1.7em; }
#accompagnatori span:not(:nth-child(1)) {
    font-style: italic;
    padding-left: 1em;
}
/*RWD*/
@media only screen and (max-width: 1366px) {
    #accompagnatori .btn-round { font-size: 3em; }
    #accompagnatori span:nth-child(1) { font-size: 1.4em; }
    #accompagnatori span:not(:nth-child(1)) { font-size: 0.8em; }
}

/* PAGE: gallery.html */

#bg-gallery {
    /* Sfondo */
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    width: 100%; /* Massima larghezza */
    /* Imposta una flexbox per le immagini */
    flex: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-row {
    /* Imposta una seconda flexbox per le righe d'immagini */
    display: flex;
    width: 100%;
}

.gallery-row img {
    object-fit: cover; /* Mantieni l'aspect-ratio, ma resize */
    height: 95%;
    width: 95%;
}
.gallery-row > div {
    position: relative; /* Per i figli con "absolute" */
    border: 20px solid transparent; /* Per lo spacing */
}
.gallery-row > div > span {
    /* Centra rispetto all'immagine */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -57%);
    /* Stila la box */
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 8px;
    text-transform: uppercase;
    /* Transizione */
    transition: opacity 0.5s;
    /* Default: opacity 0 - trasparente */
    opacity: 0;
}
/* Mostra la didascalia sull'hover */
.gallery-row > div:hover > span { opacity: 1; }
/* Modifica il cursore del mouse quando sulle immagini della galleria (lente) */
.gallery-row > div > * { cursor: zoom-in; }
/*RWD*/
@media only screen and (max-height: 768px) {
    .gallery-row img {
        height: 90%;
        width: 90%;
    }
    .gallery-row > div { border: 10px solid transparent; }
}

/*
    gallery.html -> modale
*/

/* Modale */
.modal {
    display: none; /* Default: nascosto */
    position: fixed; /* Tienilo in posizione rispetto al viewport */
    z-index: 1; /* Sit on top */
    padding-top: 10%;
    left: 0;
    top: 0;
    /* Dimensioni */
    width: 100%;
    height: 90%;
    /* Eventualmente, scrolling abilitato */
    overflow: auto;
    background-color: rgb(0,0,0); /* Colore di ripiego */
    background-color: rgba(0,0,0,0.9); /* Nero semitrasparente */
}

/* Il contenuto del modale (quindi l'immagine) */
.modal-content {
    /* Margini automatici, block -> centrare il contenuto */
    margin: auto;
    display: block;
    /* Dimensioni */
    width: 45%;
    max-height: auto;
}

/* Didascalia dell'immagine del modale */
#caption {
    /* Margini automatici, block -> centrare il contenuto */
    margin: auto;
    display: block;
    /* Dimensioni */
    width: 80%;
    max-width: 700px;
    /* Centra, contenuto grigio chiaro */
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* Aggiungi un'animazione di zoom */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* Il bottone di chiusura */
.close {
    /* Posiziona in alto a sx */
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1; /* Quasi bianco */
    font-size: 2.5em; /* Dimensione del testo, di chiusura */
    font-weight: bold; /* Grassetto */
    transition: 0.3s; /* Transizione */
}

.close:hover, .close:focus {
    color: #bbb; /* Quasi grigio */
    text-decoration: none; /* Togli la decorazione */
    cursor: pointer; /* Puntatore mouse */
}

/*RWD*/
@media only screen and (max-width: 700px){
    .modal-content { width: 100%; }
}

/*
    days.html
*/

.bg-days {
    /* Sfondo */
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    /* Metti in riga, sovrascrivendo lo stile precedente */
    flex-direction: row !important;
}

/* Contenitore della timeline */
.timeline-container {
    width: 100%;
    margin: 1em;
    position: absolute;
    text-align: center;
    margin: 0;
    left: 200%; /* Metti fuori dal viewport */
    /* Animazione slide in-out */
    transition: left 1s;
    top: 50%;
}
/* Crea la linea */
.timeline-container::before {
    content: '';
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    height: 6px;
    margin-top: -3px; /* -height/2 */
    background: white; /* Bianca */
}
#timeline-active {
    left: 0; /* Metti dentro al viewport */
    position: absolute;
    top: 50%;
}

/*
    days.html -> heading
    Stilati come proprietà di testo e posizionamento
*/
.bg-days h1 {
    color: white;
    position: absolute;
    left: 50%;
    top: -2000%;
    opacity: 1;
    transition: opacity 0.1s;
    transform: translate(-50%,-50%);
}
@media only screen and (max-height: 700px){
    .bg-days h1 { top: -1500%; }
}
/* Sull'hover delle freccettine */
.bg-days h1 > i:hover {
    color: #FF5747; /* Cambia colore */
    cursor: pointer; /* Mostra un puntatore (sono cliccabili) */
}
.bg-days h4 {
    color: white;
    top: 6%;
    position: absolute;
    width: 100%;
    text-align: center;
}
.bg-days h1 span {
    min-width: 600px;
    display: inline-block;
}

/*
    days.html -> bubbles
*/

.event-bubble {
    /* Circolari */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Posiziona */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    /* Controllo e child-aligning*/
    background-color: white;
    border: 4px solid #FF9F55;
    vertical-align: middle;
}

.event-bubble img {
    /* Metti le immagini bene nel genitore */
    width: 100%;
    border-radius: 50%;
}


.event-bubble > i, .open-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.open-detail { display: none; }
.event-bubble:hover .open-detail { display: block; }
.event-bubble[onclick]:hover img { display: none; }
.event-bubble[onclick]:hover { cursor: pointer; }

.box {
    position: absolute;
    border-style: solid;
    color: white;
    width: 785px; /* Larghezza contentuto */
    visibility: hidden; /* Default: nascondi */
}
/* Hover sulla bolla -> mostra box */
.event-bubble:hover .box { visibility: visible; }

.box > h3 { font-size: 1.5em; } /* Stila l'heading */

/* Spazio addizionale, a seconda che sia sopra o sotto */
.down .box > h3 { margin-top: 30px; }
.up .box > h3 { margin-top: 0; }
.down .box > p { margin-bottom: 0; }
.up .box > p { margin-bottom: 50px; }
.end.up .box > p { margin-bottom: 80px; }
.end.down .box > h3 { margin-top: 60px; }
@media only screen and (max-height: 700px){
    .box { font-size: 0.7em; }
    .down .box > h3 { margin-top: 20px; }
    .up .box > p { margin-bottom: 30px; }
    .end.up .box > p { margin-bottom: 40px; }
    .end.down .box > h3 { margin-top: 30px; }
    .event-bubble > i { font-size: 1.2em; }
    .open-detail > i { font-size: 0.7em; }
}
@media only screen and (max-width: 1366px){
    .box { width: 550px; }
}

/* Posiziona sotto e sopra la bolla */
.down .box { top: 105%; }
.up .box { bottom: 125%; }
/* Posiziona a inizio e fine linea */
.start { left: 5%; }
.end { left: 95%; }

/* Proprietà del testo a seconda che sia a sinistra o destra */
.left .box {
    padding: 0px 20px 0px 0px;
    text-align: right;
    border-width: 0px 2px 0px 0px;
    right: 50%;
}
.right .box {
    padding: 0px 0px 0px 20px;
    text-align: left;
    border-width: 0px 0px 0px 2px;
    left: 50%;
}

/*
    table_monuments.html
*/

.bg-table {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    /* Crea una flexbox orizzontale */
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; /* Manda capo all'occorrenza */
}
.bg-table h2 { margin-bottom: 0.5em; }
.bg-table h3 {
    color: yellow;
    margin-bottom: 1.5em;
}

.place {
    width: 25%;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    /* Dimensione della box */
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

@media only screen and (max-width: 1366px){
    .place { font-size: 0.7em; }
}
@media only screen and (max-height: 700px){
    .place { min-height: 350px; }
}
.place i { font-size: 2.5em; } /* Dimensione delle icone */
.place table { width: 100%; } /* Espanditi in tutta la pagina */
/* Stile dei link */
.place a {
    color: red;
    /* Piccola transizione cromatica */
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, white 50%);
    transition: background-position 0.2s;
}
/* Sull'hover muovi lo sfondo, fai la transizione */
.place a:hover { background-position: 0 100%; }

/* Sfondi con piccolo scurimento */
#detail-swarovski { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/bg-swarovski.jpg"); }
#detail-faber-castell { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-3.jpg"); }
#detail-nationalmuseum { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-6.jpg"); }
#detail-hauptmarkt { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/bg-contact.jpg"); }
#detail-lorenzkirche { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/lorenzkirche.jpg"); }
#detail-nazi-party { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/nazi-party.jpg"); }
#detail-deutsches-museum { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-4.jpg"); }
#detail-allianz { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-7.jpg"); }
#detail-bmw-welt { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/bmw-welt.jpg"); }
#detail-bmw-museum { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/bmw-museum.jpg"); }
#detail-residenz { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/residenz.jpg"); }
#detail-cuvillies { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-2.jpg"); }
#detail-dachau { background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url("../images/gallery-5.jpg"); }

/*
    services.html
*/

.bg-services {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    color: white;
}
.logo { top: 100% !important; }
.bg-services h2 {
    font-size: 2em;
    padding: 1em 0 0 1em;
}

.bg-services p {
    position: relative;
    font-size: 1em;
    padding: 0 0 0 2.5em;
}
@media only screen and (max-height: 700px){
    .bg-services p { font-size: 0.7em; }
}
.bg-services img {
    position: absolute;
    right: 2%;
    top: -60%;
}
.bg-services a {
    color: red;
    /* Piccola transizione cromatica */
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, white 50%);
    transition: background-position 0.2s;
}
/* Sull'hover muovi lo sfondo, fai la transizione */
.bg-services a:hover { background-position: 0 100%; }

/* Immagine tutta a destra */
.imgright {
    top: 0% !important;
    z-index: 1; /* E rimane sopra */
    height: 200%;
    width: auto;
}
/* Tieni l'immagine un po' a sinistra dell'altra */
.imgleft {
    left: 75%;
    height: 200%;
    width: auto;
}

/*
    maps.html
*/

.bg-maps {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    flex-direction: row !important; /* In riga */
    align-items: center;
}

.bg-maps > div {
    flex: 1;
    height: 700px;
    display: flex;
    flex-direction: column; /* I figli in colonna */
}
@media only screen and (max-height: 700px){
    .bg-maps > div { height: 500px; }
}
.bg-maps > div > div {
    flex: 1;
    text-align: center;
}
/* Occupa quasi tutto lo spazio, tenendo quello rimasto per lo <span> */
.bg-maps a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 85%;
}
.bg-maps span {
    color: white;
    font-size: 1.5em;
}
/* Icone */
.map-city-icon { background-image: url("../images/map-city.png"); }
.map-monuments-icon { background-image: url("../images/map-monuments.png"); }
.map-metro-icon { background-image: url("../images/map-metro.png"); }

/*
    download.html
    Pagina molto semplice, CSS elementare e privo di commento, pertanto
*/

.bg-download {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
}

.bg-download > h1 {
    color: white;
    text-align: center;
    margin-top: 2em;
}

#programmi {
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    text-align: center;
}

#programmi > div {
    width: 24%;
    height: 30%;
    display: inline-block;
}
#programmi span {
    color: white;
    font-size: 1.5em;
}
#programmi a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 85%;
}
.pdf-icon { background-image: url("../images/pdf.png"); }
.doc-icon { background-image: url("../images/doc.png"); }

/*
    contactme.html
*/

.bg-contactme {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    color: white;
}

#mail {
    height: 50%;
    width: 90%;
}

/* Spazia dalla destra */
#mail > *:not(h1) { padding: 0 0 0 4em; }
#mail > h1 { padding: 2em 0 0 2em; }

/* Definisci le dimensioni dei vari campi */
#nome {
    width: 40%;
    font-size: 1.5em;
}
#mittente {
    width: 40%;
    font-size: 1.5em;
}
@media only screen and (max-width: 1366px){
    #mittente, #nome { width: 30%; }
}
#oggetto {
    width: 100%;
    font-size: 1.5em;
}
#mail span { width: 15%; }

/* Il bottone per inviare la mail */
#mail a {
    color: white;
    text-decoration: none;
    padding: 1%;
    height: 20%;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    display: table;
    border: 1px solid white;
}
#mail a:hover {
    background-color: white;
    color: rgba(56, 0, 0, 0.85);
}

/* Font con serif, più tipografico e meno moderno */
#mail > form > * { font-family: Georgia; }
#mail textarea {
    width: 100%;
    height: 200px;
    font-size: 1.5em;
}

input { margin-bottom: 10px; } /* Posizionamento rispetto agli altri elementi */
