html {
    height: 100%;
}

html#slide, body {
    margin: 0px;
    height: 800%;
    overflow-x: hidden;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

body {
    height: 100%;
}

/* Headings */

h3 {
    font-size: 1em;
}

h2 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 1.5em;
}

h1 {
    margin-top: 0px;
    font-size: 2em;
}

@media only screen and (max-width: 1366px) {
    .img > div > * {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1366px) {
    h1 {
        font-size: 1.5em !important;
    }
    h2 {
        font-size: 1.2em !important;
    }
    h3 {
        font-size: 1em !important;
    }
}

#side-menu > * {
    color: white;
}

#side-menu {
    width: 0%; /* Lunghezza fissa per la barra sulla SX */
    height: 100%;
    position: fixed;
    overflow: hidden; /* Permetti l'overflow, necessario per le tooltip e da alternare durante la transizione */
    z-index: 1;

    background-color: rgb(56, 0, 0);
    transition: width 0.7s;
    font-size: 1em;
}

@media only screen and (max-width: 1366px) {
    #side-menu {
        font-size: 0.7em;
    }
}

#fullpage {
    width: 100%; /**/
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transform: translateX(0%);
    transition: transform 0.7s;
}

.img {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 0;
}

.img1 {
    background-image: url("../images/bg-intro.jpg");
}
.img2 {
    background-image: url("../images/bg-norimberga.jpg");
}
.img3 {
    background-image: url("../images/bg-monaco.jpg");
}
.img4 {
    background-image: url("../images/bg-swarovski.jpg");
}
.img5 {
    background-image: url("../images/bg-bmw.jpg");
}
.img6 {
    background-image: url("../images/bg-process.jpg");
}
.img7 {
    background-image: url("../images/bg-allianz.jpg");
}
.img8 {
    background-image: url("../images/bg-contact.jpg");
}

.img > div {
    background-color: rgba(56, 0, 0, 0.85);
    padding-left: 5%;
    padding-right: 5%;
    width: 40%;
    height: 100%;
    transition: width 2s;
    position: relative;
    /* z-index: 1; */
}

.img > div > * {
    color: white;
    transition: opacity 1s;
    opacity: 1;
}

.btn-round {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    font-size: 3em;
    color: white;
}

@keyframes blink {
    0% {color: white;}
    50% {color: transparent;}
    100% {color: white;}
}

.btn-round:hover {
    animation: blink 0.8s infinite;
}

@media only screen and (max-width: 1366px) {
    .btn-round {
        height: 64px;
        width: 64px;
        font-size: 2em;
    }
}

.buttons-intro td:nth-child(1){
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
}

.buttons-intro td:nth-child(2){
    vertical-align: middle;
}

@keyframes hint {
    0% {transform: translateY(0);}
    80% {transform: translateY(10%);}
    100% {transform: translateY(0);}
}

#hint {
    font-size: 2em;
    text-align: center;
    font-style: italic;
    animation: hint 1s infinite;
}

.desc {
    height: 100%;
}

.city-summary, .city-summary td {
    border: solid 1px white;
    border-collapse: collapse;
}

td {
    padding-bottom: 5px;
}

#accompagnatori {
    width: 100%;
    position: absolute;
}

#accompagnatori td {
    width: 33.33%;
}

#accompagnatori div {
    display: inline-block;
    vertical-align: top;
}
#accompagnatori .btn-round {
    font-size: 4em;
}
#accompagnatori span:nth-child(1) {
    font-size: 1.7em;
}
#accompagnatori span:nth-child(5), #accompagnatori span:nth-child(3) {
    font-style: italic;
    padding-left: 1em;
}
@media only screen and (max-width: 1366px) {
    #accompagnatori .btn-round {
        font-size: 3em;
    }
    #accompagnatori span:nth-child(1) {
        font-size: 1.4em;
    }
    #accompagnatori span:nth-child(3), #accompagnatori span:nth-child(5) {
        font-size: 0.8em;
    }
}

#mail {
    height: 50%;
    width: 90%;
    position: absolute;
    bottom: 0;
}

#nome {
    width: 40%;
    font-size: 1.5em;
}

#mittente {
    width: 40%;
    font-size: 1.5em;
}

#oggetto {
    width: 100%;
    font-size: 1.5em;
}

#mail span {
    width: 15%;
}

#mail textarea {
    width: 100%;
    height: 200px;
    font-size: 1.5em;
}

input {
    margin-bottom: 10px;
}

/* BEGIN */

ul { list-style-type: none; /* Togli i punti agli <ul> */ }

#side-menu > ul {
    padding: 0%; /* Togli il padding dal primo elenco del menu */
    margin: 0%; /* Togli il margine del primo elenco del menu */
}

#side-menu-title {
    text-align: center;
    padding: 10% 0% 10% 0%;
    text-transform: capitalize;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
}

li.menu-el { text-transform: uppercase; }

li#father {
    padding-bottom: 0%;
    padding-top: 5%;
    cursor: pointer;
}

li#father::before {
    content: "";
    padding-left: 5%;
}

ul#sub-menulist { padding: 5% 0% 0% 0%; }

/* Singolo elemento del sottomenu dei giorni */
li.submenu-el {
    background-color: #FF8547;
    padding: 0% 0% 0% 5%; /* Spazio SX 2 - modifica 5% */
    transition: height 1s;
    height: 40px;
}

#btn1 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("../images/btn1-swarovski.jpg");
    background-size: cover;
}

#btn2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../images/btn2-fabercastell.jpg");
    background-size: cover;
}

#btn3 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("../images/btn3-hauptmarkt.jpg");
    background-size: cover;
}

#btn4 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("../images/btn4-deutches.jpg");
    background-size: cover;
}

#btn5 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("../images/btn5-bmw.jpg");
    background-size: cover;
}

#btn6 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url("../images/btn6-dachau.jpg");
    background-size: cover;
}

#circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    top: 40%;
    left: -50px; /* MODIFICARE QUA FIXME */
    background-color: #FF5747;
    transition: left 1s;
    z-index: 1;
}

#right-circle {
    height: 100%;
    width: 50%;
    float: right;
}

#openmenu {
    width: 32px;
    height: 32px;
    position: relative;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    cursor: pointer;
}

li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.open-menu {
    font-size: 30px;    /* Dimensione grande */
    cursor: pointer;    /* Cambia il cursore */
    line-height: 100px; /* Centra il testo */
    padding-left: 10px; /* Sposta la freccia un po' da SX */
    padding-top: 10px;
    padding-bottom: 10px;
}

.tooltip-trigger > .tooltip {
    display: table-cell;
    opacity: 0;
    width: 300px;
    height: 128px;
    background-color: rgb(108, 255, 136);
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    border-radius: 6px;

    position: relative;
    left: 90%;
    top: -40%;
    z-index: -1;
    transition: left 1s, opacity 1s;
    text-transform: none;
}

.tooltip-trigger > .tooltip > ul { padding: 10px 0px 0px 0px; }

.tooltip-trigger > .tooltip > ul > li { padding: 3px 0px 3px 0px; }

.tooltip-trigger:hover > .tooltip {
    left: 110%;
    opacity: 1;
    z-index: 0;
}

.tooltip-trigger > .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(108, 255, 136) transparent transparent;
}

.tooltip-trigger { overflow: hidden; }
.tooltip-trigger:hover { overflow: visible; }

.sublink {
    transition: left 0.5s;
    transition-timing-function: ease-in;
    color: white;
    /* font-weight: bold; */
}

#collapse-menu {
    padding: 10px;
    cursor: pointer;
}

/* PAGE: gallery.html */

#bg-gallery {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    width: 100%;
    flex: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-row {
    display: flex;
    width: 100%;
}

.gallery-row img {
    object-fit: cover;
    height: 95%;
    width: 95%;
}
.gallery-row > div {
    position: relative;
    border: 20px solid transparent;
}
.gallery-row > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -57%);
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 8px;
    text-transform: uppercase;
    transition: opacity 0.5s;
    opacity: 0;
}
.gallery-row > div:hover > span {
    opacity: 1;
}
.gallery-row > div > * {
    cursor: zoom-in; /* Modifica il cursore del mouse quando sulle immagini della galleria (lente) */
}

@media only screen and (max-height: 768px) {
    .gallery-row img {
        height: 90%;
        width: 90%;
    }
    .gallery-row > div {
        border: 10px solid transparent;
    }
}

/* PAGE: day1.html */

.bg-days {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    flex-direction: row !important;
}

.timeline-container {
    width: 100%;
    margin: 1em;
    position: absolute;
    text-align: center;
    margin: 0;
    left: 200%;
    transition: left 1s;
    top: 50%;
}

#timeline-active {
    left: 0;
    position: absolute;
    top: 50%;
}

.bg-days h1 {
    color: white;
    position: absolute;
    left: 50%;
    top: -2000%;
    opacity: 1;
    transition: opacity 0.1s;
    transform: translate(-50%,-50%);
}
.bg-days h1 span {
    min-width: 420px;
    display: inline-block;
}

.timeline-container::before {
    content: '';
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    height: 6px;
    margin-top: -3px; /* -height/2 */
    background: white;
}

.event-bubble {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: white;
    border: 4px solid #FF9F55;
    vertical-align: middle;
    border-radius: 50%;
}

.event-bubble:hover .box {
    visibility: visible;
}

.event-bubble > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.down {
    left: 20%;
}

.box {
    position: absolute;
    /* top: 105%; */
    /* left: -180%; Regolato da timeline.js per         | text
    right: 50%;  Regolato da timeline.js per    text |         */
    border-style: solid;
    color: white;
    width: 785px; /* Regolato da timeline.js */
    visibility: hidden;
}

.box > h3 { font-size: 1.5em; }

.down .box > h3 { margin-top: 30px; }
.up .box > h3 { margin-top: 0; }
.down .box > p { margin-bottom: 0; }
.up .box > p { margin-bottom: 50px; }
.end.up .box > p { margin-bottom: 80px; }
.end.down .box > h3 { margin-top: 60px; }

.down .box { top: 105%; }
.up .box { bottom: 125%; }
.start { left: 5%; }
.end { left: 95%; }
.left .box {
    padding: 0px 20px 0px 0px; /* Regolato da timeline.js */
    text-align: right; /* Regolato da timeline.js */
    border-width: 0px 2px 0px 0px; /* Regolato da timeline.js */
    right: 50%;
}
.right .box {
    padding: 0px 0px 0px 20px; /* Regolato da timeline.js */
    text-align: left; /* Regolato da timeline.js */
    border-width: 0px 0px 0px 2px; /* Regolato da timeline.js */
    left: 50%;
}

/* ------------------------------------------------------------------- */

.bg-table {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.bg-table h2 {
    margin-bottom: 2em;
}

.place {
    width: 25%;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}
.place i {
    font-size: 2.5em;
}
.place table {
    width: 100%;
}
.place a {
    color: white;
}

#detail-swarovski { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/bg-swarovski.jpg"); }
#detail-faber-castell { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-3.jpg"); }
#detail-nationalmuseum { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-6.jpg"); }
#detail-hauptmarkt { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/bg-contact.jpg"); }
#detail-lorenzkirche { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/lorenzkirche.jpg"); }
#detail-nazi-party { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/nazi-party.jpg"); }
#detail-deutsches-museum { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-4.jpg"); }
#detail-allianz { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-7.jpg"); }
#detail-bmw-welt { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/bmw-welt.jpg"); }
#detail-bmw-museum { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/bmw-museum.jpg"); }
#detail-residenz { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/residenz.jpg"); }
#detail-cuvillies { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-2.jpg"); }
#detail-dachau { background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("../images/gallery-5.jpg"); }

/* services.html */

.bg-services {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    color: white;
}

.bg-services h2 {
    font-size: 2em;
    padding: 1em 0 0 1em;
}

.bg-services p {
    font-size: 1.5em;
    padding: 0 0 0 2.5em;
}

.bg-services img {
    float: right;
    margin-right: 100px;
}
.bg-services a {
    color: white;
}

/* maps.html */

.bg-maps {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
    flex-direction: row !important;
    align-items: center;
}

.bg-maps > div {
    flex: 1;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.bg-maps > div > div {
    flex: 1;
    text-align: center;
}
.bg-maps a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 85%;
}
.bg-maps span {
    color: white;
    font-size: 1.5em;
}
.map-city-icon {
    background-image: url("../images/map-city.png");
}
.map-monuments-icon {
    background-image: url("../images/map-monuments.png");
}
.map-metro-icon {
    background-image: url("../images/map-metro.png");
}

/* download.html */

.bg-download {
    background-image: linear-gradient(
      rgba(56, 0, 0, 0.85),
      rgba(56, 0, 0, 0.85)
    ),url("../images/bg-contact.jpg");
    background-size: cover;
}

.bg-download > h1 {
    color: white;
    text-align: center;
    margin-top: 2em;
}

#programmi {
    margin: 0 auto;
    border: solid 1px rgb(255, 0, 0);
    width: 80%;
    min-height: 500px;
    text-align: center;
}

#programmi > div {
    width: 24%;
    height: 100%;
    display: inline-block;
}
#programmi span {
    color: white;
    font-size: 1.5em;
}
#programmi a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 85%;
}
.pdf-icon {
    background-image: url("../images/pdf.png");
}
.doc-icon {
    background-image: url("../images/doc.png");
}
